learn-rustlang/**/*.rs.bk
learn-rustlang/**/Cargo.lock
learn-rustlang/**/target/
learn-rustlang/**/debug/
learn-golang/concurrent/goroutine/simple-channel-example/simple-channel
learn-c/**/*.dSYM
learn-c/**/main
/Learning_C_Sharp/**/obj
/Learning_C_Sharp/**/bin
