learn-rustlang/coding/the-rust-programming-language-book/closures/Cargo.lock
learn-rustlang/coding/the-rust-programming-language-book/smart-pointers/Cargo.lock
learn-rustlang/coding/the-rust-programming-language-book/smart-pointers/.vscode/launch.json
learn-rustlang/coding/the-rust-programming-language-book/concurrency/.vscode/launch.json
